@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --text-color: #fefefe;
  --theme-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  text-align: center;

  background-color: var(--theme-color);

  display: grid;
  place-items: center;
  min-height: 100vh;
}
